<div class="menu">
    @for (category of categories; track $index) {
        <app-category-component [categoryName]="category" (category)="onSelectedCategory($event)" [checked]="category===selectedCategory"/>
    }
</div>

<div class="search-container">
    <input type="search" name="search" #search autocomplete="off" placeholder="Search..."  (input)="test(search.value)">
</div>

@if(selectedCategory){
    <div class="news">
        @for (element of SelectedNews; track $index) {
            <app-categories-component [News]="element"/>
        }
    </div>
}
@else{
    <p style="color: white;">Please select category</p>
}
