.menu{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 7rem;
    justify-content: center;
}
.search-container{
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 2rem;
}
.search-container input{
    outline: none;
    border: 1px solid #7C7C7C;
    background-color: #100E0F;
    color: #7C7C7C;
    width: 90%;
    text-align: left;
    font-size: large;
    border-radius: 5px;
    padding: .8rem;
}

@media (max-width: 45rem){
    html{
        font-size: 50%;
    }
    .menu{
        gap: 5rem;
    }
}

@media (max-width: 35rem){
    html{
        font-size: 40%;
    }
    .menu{
        gap: 2.5rem;
    }
}

@media (max-width: 28rem){
    html{
        font-size: 35%;
    }
    .menu{
        gap: 1.5rem;
    }
}